@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    z-index: 5;
    box-sizing: border-box;
}

.choose_item {
    width: 380px;
    height: 540px;
    border-radius: 16px;
    background: linear-gradient(225deg, #79604A 0%, #1E1C1A 93.23%);
    transform: rotateX(35deg);
    transition: 0.5s;
}

.choose_item:hover {
    transform: rotateX(0deg);
    transition: 0.5s;
}

html, body{
    background-color: #1E1C1A;
}

.very-hidden {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
}

.button_twitch {
    background: linear-gradient(90deg, #8B5ABB 0%, #362565 100%);
    outline: 5px solid rgba(133, 90, 187, 0.20);
}

.button_green {
    background: linear-gradient(90deg, #5ABB81 0%, #356568 100%);
    outline: 5px solid rgba(87, 141, 144, 0.20);
}

.button_blue {
    background: linear-gradient(90deg, #5A98BB 0%, #354368 100%);
    outline: 5px solid rgba(90, 152, 187, 0.20);
}

.button_red {
    background: linear-gradient(99deg, #BB775A 0%, #683535 100%);
    outline: 5px solid rgba(144, 97, 87, 0.20);
}

@tailwind base;
@tailwind components;
@tailwind utilities;