@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 16px;
}

* {
    font-family: 'Poppins';
    z-index: 5;
    box-sizing: border-box;
}

.container {
    background: #020C11;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose_item {
    width: 380px;
    height: 540px;
    border-radius: 16px;
    background: linear-gradient(225deg, #79604A 0%, #1E1C1A 93.23%);
    transform: rotateX(35deg);
    transition: 0.5s;
}

.choose_item:hover {
    transform: rotateX(0deg);
    transition: 0.5s;
}

html,
body {
    background-color: #1E1C1A;
    overflow: hidden;
}

.very-hidden {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
}

.button_twitch {
    background: linear-gradient(90deg, #8B5ABB 0%, #362565 100%) !important;
    outline: 5px solid rgba(133, 90, 187, 0.20);
}

.button_green {
    background: linear-gradient(90deg, #5ABB81 0%, #356568 100%) !important;
    outline: 5px solid rgba(87, 141, 144, 0.20);
}

.button_blue {
    background: linear-gradient(90deg, #5A98BB 0%, #354368 100%) !important;
    outline: 5px solid rgba(90, 152, 187, 0.20);
}

.button_red {
    background: linear-gradient(99deg, #BB775A 0%, #683535 100%) !important;
    outline: 5px solid rgba(144, 97, 87, 0.20);
}

.konami {
    opacity: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px);
    transition: all 1s ease-in-out;
}

.konami .easterEgg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 34px;
}

@keyframes headShake {
    0% {
        transform: translateX(0);
    }

    6.5% {
        transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
        transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
        transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
        transform: translateX(2px) rotateY(3deg);
    }

    50% {
        transform: translateX(0);
    }
}

.animate__hshake {
    animation: headShake 1s infinite;
}

input {
    display: flex !important;
    padding: 16px !important;
    align-items: center !important;
    gap: 24px !important;
    align-self: stretch !important;
    border-radius: 8px !important;
    outline: 5px solid rgba(2, 12, 17, 0.30) !important;
    background: #020C11 !important;
    color: white !important;
    border: none !important;
}

input:focus {
    border: none !important;
    box-shadow: none !important;
    outline-offset: 0px !important;
}

label:has(+ input) {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

div:has(label + input) {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

/* Spinner loader */
.loader {
    width: 32px;
    height: 32px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
  }
  .loader:after {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
  }

  @keyframes scaleUp {
    0% { transform: translate(-50%, -50%) scale(0) }
    60% , 100% { transform: translate(-50%, -50%)  scale(1)}
  }
  @keyframes pulse {
    0% , 60% , 100%{ transform:  scale(1) }
    80% { transform:  scale(1.2)}
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
