.hof .logo {
    position: absolute;
    z-index: 10;
}

.hof .podium {
    margin-top: 20px;
}

.podium .podium-position {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    padding-top: 24px;
    width: 232px;
}

.hof .podium .display_points {
    position: relative;
    background: var(--container_background);
    border-radius: 8px 8px 0px 0px;
    padding: 4px 8px 0px 8px;
}
.hof .podium .display_points::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: transparent;
    left: -20px;
    bottom: 0;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 10px 0px 0px var(--container_background);
}
.hof .podium .display_points::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: transparent;
    right: -20px;
    bottom: 0;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 10px 0 0 var(--container_background);
}
.hof .podium .display_points {
    position: relative;
    background: var(--container_background);
    border-radius: 8px 8px 0px 0px;
    padding: 4px 8px 0px 8px;
}
.hof .podium .pos.two .display_points::before {
    background-color: #888;
}
.hof .podium .pos.two .display_points::after {
    background-color: #888;
}
.hof .penguinCard {
    padding: 12px;
    width: 100%;
    overflow: hidden;
}
.hof .penguinCard .username  {
    font-size: 14px;
}
.hof .penguinCard .description {
    font-size: 12px;
}

.hof .ttable {
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: overlay;
}

.hof .entry {
    display: flex;
    border-radius: 8px;
    width: 100%;
    height: 55px;
    align-items: center;
}

.hof .entry .penguinCard {
    background-color: transparent;
}

.hof .entry:hover,
.hof .entry:hover .penguinCard {
    background: #2C3344;
}

.hof .entry .penguinCard {
    flex-grow: 1;
    flex: 1;
    padding: 8px 12px;
    height: 55px !important;
    gap: 8px;
}

.hof .entry .card {
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: white;
    height: 64px;
}

.hof .entry .penguinCard .points {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.hof .simple_button {
    width: 140px;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.hof {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: var(--container_background);
    border-radius: 8px;
    padding: 16px;
    padding-top: 32px;
}
.hof .btn_sort {
    display: flex;
    gap: 10px;
}
.hof .btn_sort a {
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
}
.hof .btn_sort a.active {
    background: rgb(30 41 59);
}
.hof table {
    width: 100%;
}
