.hof .logo {
    position: absolute;
    z-index: 10;
}

.hof .podium {
    margin-top: 20px;
}

.podium .podium-position {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    padding-top: 24px;
    width: 232px;
}

.hof .userCard {
    padding: 12px;
    width: 100%;
    overflow: hidden;
}
.hof .userCard .username  {
    font-size: 14px;
}
.hof .userCard .description {
    font-size: 12px;
}

.hof .ttable {
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: overlay;
    padding-right: 8px;
}

.hof .entry {
    border-radius: 8px;
    width: 100%;
    height: 55px;
    align-items: center;
}

.hof .entry .userCard {
    background-color: transparent;
}

.hof .entry:hover,
.hof .entry:hover .userCard {
    background: var(--container_background);
}

.hof .entry .userCard {
    flex-grow: 1;
    flex: 1;
    padding: 8px 12px;
    height: 55px !important;
    gap: 8px;
}

.hof .entry .card {
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: white;
    height: 64px;
}

.hof .entry .userCard .points {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.hof .simple_button {
    width: 140px;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.hof {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: var(--container_background);
    border-radius: 8px;
    padding: 16px;
    padding-top: 32px;
}
.hof .btn_sort {
    display: flex;
    gap: 10px;
}
.hof .btn_sort a {
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
}
.hof .btn_sort a.active {
    background: rgb(30 41 59);
}
.hof table {
    width: 100%;
}
.rmdp-wrapper {
    background-color: var(--content_background) !important;
    box-shadow: 0 0 5px black !important;
}
.rmdp-wrapper span {
    color: white;
}
.rmdp-wrapper .rmdp-month-picker, .rmdp-wrapper .rmdp-year-picker {
    background-color: var(--content_background) !important;
}
.rmdp-wrapper .rmdp-day.rmdp-today span {
    background-color: #0a1018 !important;
}
.rmdp-wrapper .rmdp-day.rmdp-today span {
    background-color: #0a1018 !important;
}
.rmdp-wrapper  .rmdp-day.rmdp-selected span:not(.highlight) {
    box-shadow: 0 0 3px #0a1018 !important;
}
.rmdp-wrapper .rmdp-day:not(.rmdp-disabled,.rmdp-day-hidden) span:hover {
    background-color: #0c1827 !important;
}
