:root {
    --modal_transition: 0.4s;
}

.modal_container {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    z-index: 1;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1 !important;
}

.modal_container.active {
    display: flex;
    z-index: 1000 !important;
    opacity: 1;
}

#modal_background {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 8, 12, 0.7);
    opacity: 0;
    top: 0;
    left: 0;
    transition-property: opacity, backdrop-filter;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    backdrop-filter: blur(0px);
}

#modal_background.active {
    opacity: 1;
    backdrop-filter: blur(3px);
    transition-property: opacity, backdrop-filter;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.modal {
    position: absolute;
    display: flex;
    min-width: 50%;
    min-height: 50%;
    width: fit-content;
    height: fit-content;
    max-height: 80%;
    background-color: white;
    border-radius: 8px;
    padding: 32px;
    z-index: 1000;
    transform: scale(0);
    justify-content: center;
    align-items: center;
    background-color: var(--container_background);
    transform-style: preserve-3d;
}

.modal.active {
    animation: modal_grow var(--modal_transition) linear forwards;
}

.modal.inactive {
    animation: modal_shrink 0.2s linear forwards;

}

@-webkit-keyframes modal_grow {
    from { transform: scale(0)}
    90% { transform: scale(1.1)}
    to { transform: scale(1)}
}

@keyframes modal_grow {
    from { transform: scale(0)}
    60% { transform: scale(1.1)}
    to { transform: scale(1)}
}

@-webkit-keyframes modal_shrink {
    from { transform: scale(1)}
    to { transform: scale(0)}
}

@keyframes modal_shrink {
    from { transform: scale(1)}
    to { transform: scale(0)}
}