.podium {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.podium .penguin {
    position: relative;
    top: 70px;
    z-index: 10;
    left: -16px;
}
