@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --vip_container_background: rgba(24, 40, 71, 0.95);
    --slot-item-background: #1e3b64 !important;
}

.container {
    background: var(--vip_container_background) !important;
    backdrop-filter: blur(5px);
    border: 1px solid #5395e063;
}

.sub_container {
    background: var(--container_background);
    border: 1px solid #5395e063;
    border-radius: 8px;
}

body {
    background-image: url('../assets/img/vipgames/vipgames_background.png') !important;
    /*background: var(--web_background) !important;*/
    background-size: cover !important;
    background-position: center !important;
}

body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,0.4);*/
    top: 0;
    left: 0;

}

#app_background::after {
    background: none !important;
}

:root {
    --background: var(--web_background);
    --ticket: linear-gradient(99deg, #ffbb00 0%, #9e5807 100%);
    --ticket_miss: linear-gradient(99deg, #b3120a 0%, #5f0d0d 100%);
    --ticket_bonus: linear-gradient(99deg, #10a3f5 0%, #0b308e 100%);
    --ticket_win: linear-gradient(99deg, #02f41a 0%, #0d6b05 100%);
    --ticket_dead: linear-gradient(99deg, #313233 0%, #05050E 100%);
}

html {
    color: #fff;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
}

#game_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    width: 100vw;
    height: 100vh;
    padding: 32px;
}

#user-list-container {
    height: inherit;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ticket);
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #c88e08;
    transition: 0.2s;
}

.add_bonus {
    padding-left: 16px;
    padding-right: 16px;
}

.remove_button {
    background: var(--ticket_miss);
    border-color: #a9140e;
}

.pl-48 {
    padding-left: 48px;
}

.pr-48 {
    padding-right: 48px;
}

.input_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 600px;
}

#bonuses {
    width: 100%;
    max-height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
}

input,
.bonuses_item {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 24px;
    align-self: stretch;

    color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;

    border-radius: 4px;
    border: 1px solid var(--black_1, #24262b);
    background: var(--black_2, #1c1f23);
    box-sizing: border-box;
}

#start_menu {
    position: absolute;
    z-index: 5000;
    width: 100vw;
    height: 100vh;
    background: var(--background);
}

#start_menu_buttons {
    display: flex;
    gap: 28px;
}

#tickets_pack {
    display: flex;
    width: 916px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.ticket {
    display: flex;
    width: 80px;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--ticket);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border: 0px solid #c88e08;
    transition: 0.2s;
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
}

.ticket:hover:not(.ticket_miss):not(.ticket_bonus):not(.ticket_dead):not(.ticket_win),
.button:hover {
    scale: 1.25;
    transition: 0.2s;
    cursor: pointer;
}

.ticket_miss {
    background: var(--ticket_miss);
    border-color: rgb(194, 48, 48);
    color: rgb(231, 55, 55);
    animation: tilt-shaking 0.4s linear;
}

.ticket_bonus {
    background: var(--ticket_bonus);
    border-color: #1578d4;
    color: #91c4f5;
}

.ticket_dead {
    background: var(--ticket_dead);
    border-color: #474849;
    color: #474849;
}

.ticket_win {
    background: var(--ticket_win);
    border-color: #08b010;
}




#wheels {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

#game_news {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    mask: linear-gradient(90deg, white 0%, white 80%, transparent 100%);
}

.game_news_item {
    background: #020C11;
    flex-shrink: 0;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    height: 80px;
    padding: 0px;
    opacity: 1;
    flex-basis: 0px;
    width: 0px;
    animation: grow_games_news_item 1s ease-in-out forwards;
    -webkit-animation: grow_games_news_item 1s ease-in-out forwards;
    margin-right: 0px;
    overflow: hidden;
}

.item_username {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.item_subtext {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.play_count_text {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.20); 
    background: rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.le-tchat {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}


.transition-back {
    transition: 0.3s linear;
}

.my-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

/*@keyframes grow_slot_item {
    to {
        margin: 4px 0px;
        height: 64px !important;
        flex-grow: 1;
        flex-basis: 64px;
    }
}*/

/*.wheel-slot div.slot_item_hide {
    animation: hide_slot_item 0.2s linear forwards;
}
@keyframes hide_slot_item {
    to {
        margin: 0px;
        height: 0px;
        flex-basis: 0px;
    }
}*/

@-webkit-keyframes grow_games_news_item {
    to {
        flex-basis: 200px;
        width: 200px;
        opacity: 1;
        margin-right: 8px;
        padding: 16px;
    }
}
@keyframes grow_games_news_item {
    to {
        flex-basis: 200px;
        width: 200px;
        opacity: 1;
        margin-right: 8px;
        padding: 16px;
    }
}


@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(25deg);
    }

    20% {
        transform: rotate(0eg);
    }

    30% {
        transform: rotate(-20deg);
    }

    40% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    60% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes flip {
    from {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

.animate__flip {
    animation: flip 1s;
}


.player_points_item {
    border-radius: 8px;
    background-color: var(--container_background);
    padding: 12px 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    border: 1px solid #5395e048;
}

.player_points_item .points {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    gap: 4px;
}

.player_points_item .points_number {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.player_points_item .points_txt {
    color: #abbcd8;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.player_points_item .username_points {
    width: 100%;
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title-20 {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#current_player_prio {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(99deg, #10A3F5 0%, #0B308E 100%);
    padding: 6px 0px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 8px 8px 0 0;
    position: absolute;
    top: -33px;
    left: calc(50% - 160px);
}

.points_bin {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    top: 0;
    right: 0;
    visibility: hidden;
    background: linear-gradient(90deg, transparent 0%, #a01b1b 40%, #a01b1b 100%);
}

.userCard:hover .points_bin {
    visibility: visible;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}




/*.snow_cap_player::after {
    content: '';
    position: absolute;
    width: 350px;
    height: 60px;
    background-image: url('../assets/img/decoration/christmas/snow_caps/snow_cap_6.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: -12px;
    top: -20px;
    z-index: 200;
}

.snow_cap_chat::after {
    content: '';
    position: absolute;
    width: 370px;
    height: 60px;
    background-image: url('../assets/img/decoration/christmas/snow_caps/snow_cap_8.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: -30px;
    top: -27px;
    z-index: 200;
}


.snow_cap_points::after {
    content: '';
    position: absolute;
    width: 370px;
    height: 90px;
    background-image: url('../assets/img/decoration/christmas/snow_caps/snow_cap_4.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: -16px;
    top: -25px;
    z-index: 200;
}

.snow_cap_center::before {
    content: '';
    position: absolute;
    width: 350px;
    height: 135px;
    background-image: url('../assets/img/decoration/christmas/snow_caps/snow_cap_18.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: -30px;
    bottom: -55px;
    z-index: 0;
}

.snow_cap_center .button_green {
    z-index: 300;
}

.snow_cap_center::after {
    content: '';
    position: absolute;
    width: 730px;
    height: 80px;
    background-image: url('../assets/img/decoration/christmas/snow_caps/snow_cap_6_v2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    z-index: 200;
}*/

.victory_icon_animation {
    animation: zoom_unzoom 2s ease-in-out infinite;
}

@keyframes zoom_unzoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
