@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#app_background {
    background-image: url('../assets/img/vipgames/vipgames_background.png') !important;
    background-size: cover !important;
    background-position: center !important;
}

#app_background::after {
    background: none !important;
}

:root {
    --background: #0e1014;
    --ticket: linear-gradient(99deg, #ffc700 0%, #905510 100%);
    --ticket_miss: linear-gradient(99deg, #d9170b 0%, #761111 100%);
    --ticket_bonus: linear-gradient(99deg, #10a3f5 0%, #0b308e 100%);
    --ticket_win: linear-gradient(99deg, #02f41a 0%, #0d6b05 100%);
}

html {
    background: var(--background);
    color: #fff;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
}

#game_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100vw;
    height: 100vh;
    padding: 32px;
}

#user-list-container {
    height: inherit;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ticket);
    border-radius: 4px;
    padding: 8px;
    border: 2px solid #c88e08;
    transition: 0.2s;
}

.add_bonus {
    padding-left: 16px;
    padding-right: 16px;
}

.remove_button {
    background: var(--ticket_miss);
    border-color: #a9140e;
}

.pl-48 {
    padding-left: 48px;
}

.pr-48 {
    padding-right: 48px;
}

.input_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 600px;
}

#bonuses {
    width: 100%;
    max-height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
}

input,
.bonuses_item {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 24px;
    align-self: stretch;

    color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;

    border-radius: 4px;
    border: 1px solid var(--black_1, #24262b);
    background: var(--black_2, #1c1f23);
    box-sizing: border-box;
}

#start_menu {
    position: absolute;
    z-index: 5000;
    width: 100vw;
    height: 100vh;
    background: var(--background);
}

#start_menu_buttons {
    display: flex;
    gap: 28px;
}

#tickets_pack {
    display: flex;
    width: 916px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.ticket {
    display: flex;
    width: 80px;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--ticket);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border: 2px solid #c88e08;
    transition: 0.2s;
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
}

.ticket:hover:not(.ticket_miss),
.button:hover {
    scale: 1.25;
    transition: 0.2s;
    cursor: pointer;
}

.ticket_miss {
    background: var(--ticket_miss);
    border-color: #a9140e;
    color: #f44;
    animation: tilt-shaking 0.4s linear;
}

.ticket_bonus {
    background: var(--ticket_bonus);
    border-color: #0e6bc3;
}

.ticket_win {
    background: var(--ticket_win);
    border-color: #08b010;
}




#wheels {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

#game_news {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

#game_news::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 80px;
    background: linear-gradient(270deg, #020C11 0%, rgba(2, 12, 17, 0.00) 100%);
    z-index: 100;
    right: 0;
    transition: all 2.0s ease-out;
}

.game_news_item {
    background: #020C11;
    flex-shrink: 0;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    height: 80px;
    padding: 0px;
    opacity: 0;
    flex-basis: 0px;
    width: 0px;
    animation: grow_games_news_item 1s ease-in-out forwards;
    -webkit-animation: grow_games_news_item 1s ease-in-out forwards;
    margin-right: 0px;
    overflow: hidden;
}

.item_username {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.item_subtext {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.play_count_text {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.20); 
    background: rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.le-tchat {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}


.transition-back {
    transition: 0.3s linear;
}

.my-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.wheel-slot {
    padding: 16px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 384px;
    height: 400px;
    position: relative;
    overflow-y: hidden;
    overflow-x: visible !important;
}

.wheel-slot::before {
    content: '';
    position: absolute;
    background-image: url('../assets/img/vipgames/cursor_slots.svg');
    background-size: cover;
    top: 50%;
    right: 32px;
    height: 34px;
    width: 42px;
    z-index: 120;
    transform: translateY(-50%);
}

.wheel-slot::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #020C11 0%, rgba(2, 12, 17, 0.00) 50%, #020C11 100%);
    z-index: 100;
}

.wheel-slot div.slot_item {
    width: 100%;
    flex-shrink: 0;
    flex-basis: 0px;
    height: 64px;
    flex-basis: 64px;
    margin: 4px 0px;
    /*animation: grow_slot_item 0.2s linear forwards;
    -webkit-animation: grow_slot_item 0.2s linear forwards;*/
}

.wheel-slot div.slot_item .item_content {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #121A25;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wheel-slot .slot_item.number {
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wheel-slot .slot_item.player img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.wheel-slot .slot_item.player .item_content {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.wheel-slot .slot_item.player .username {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/*@keyframes grow_slot_item {
    to {
        margin: 4px 0px;
        height: 64px !important;
        flex-grow: 1;
        flex-basis: 64px;
    }
}*/

/*.wheel-slot div.slot_item_hide {
    animation: hide_slot_item 0.2s linear forwards;
}
@keyframes hide_slot_item {
    to {
        margin: 0px;
        height: 0px;
        flex-basis: 0px;
    }
}*/

@-webkit-keyframes grow_games_news_item {
    to {
        flex-basis: 200px;
        width: 200px;
        opacity: 1;
        margin-right: 8px;
        padding: 16px;
    }
}
@keyframes grow_games_news_item {
    to {
        flex-basis: 200px;
        width: 200px;
        opacity: 1;
        margin-right: 8px;
        padding: 16px;
    }
}


@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(25deg);
    }

    20% {
        transform: rotate(0eg);
    }

    30% {
        transform: rotate(-20deg);
    }

    40% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    60% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes flip {
    from {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

.animate__flip {
    animation: flip 1s;
}


.item-glow {
    position: relative;
    z-index: 0;
}

.item-glow::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -5;
    height: 100%;
    width: 100%;
    transform: scale(1);
    filter: blur(15px);
    background: linear-gradient(135deg,#ff0f7b,#f89b29, #ff0f7b);
    background-size: 200% 200%;
    animation: animateGlow 1.25s linear infinite;
  }

@keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }


.player_points_item {
    border-radius: 8px;
    background-color: #121A25;
    padding: 12px 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.player_points_item .points {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    gap: 4px;
}

.player_points_item .points_number {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.player_points_item .points_txt {
    color: #9799A7;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.player_points_item .username_points {
    width: 100%;
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-20 {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}